/*css file for the-day page*/
html {
  display: block;
}

body {
  font-family: "Abel", sans-serif;
  text-align: left;
  padding: 0;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-size: 14px;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.main-border {
  border-top-color: #f89184;
  width: 100%;
  margin: 0;
  border-top-width: 2px;
}

/*nav bar styles*/
.header-bar {
  background-color: #b0e0e6;
  overflow: hidden;
  width: 100%;
  padding: 10px 10px;
  justify-content: center;
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
  /*  position: sticky;
  top: 0; */
}

.navbar {
  margin-bottom: 0;
  border: none;
}

.wedding-logo {
  display: inline-block;
  float: left;
  height: 90px;
  padding-left: 30px;
  vertical-align: middle;
}

.nav-wrapper {
  display: inline-block;
}

.nav-list a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 0 20px;
  position: relative;
  top: 50%;
}

.nav-list a:hover {
  color: #82d58b;
}

.nav-list a.active {
  text-decoration: underline;
}

.nav-list {
  display: inline-block;
  margin: 18px 0;
}

ul.nav-list-elements li {
  display: inline-block;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: 18px;
}

.nav-strapline {
  text-align: right;
  font-size: 20px;
  padding-right: 50px;
  margin: 18px 0;
  float: right;
  display: inline-block;
  vertical-align: baseline;
}

.nav-strapline p {
  margin: 8px 0;
}

/*nav bar styles end*/

/*about the day intro block styles start*/
.about-the-day-element {
  background-color: white;
  display: inline-block;
  width: 900px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f89184;
}

p {
  font-size: 18px;
}

/*About the day intro ends*/

/*Divider styling*/
hr {
  margin: 10px;
  border-top-color: #b0e0e6;
  border-top-width: 2px;
  margin-left: 15%;
  margin-right: 15%;
  width: 900px;
}

.main-border {
  border-top-color: #f89184;
  width: 100%;
  margin: 0;
}

/*footer bar styles*/
.footer-bar {
  background-color: #b0e0e6;
  overflow: hidden;
  width: 100%;
  padding: 10px 10px;
  justify-content: center;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  bottom: 0;
}

.wedding-logo {
  display: inline-block;
  float: left;
  height: 90px;
  padding-left: 30px;
}

.footer-list a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  top: 50%;
}

.footer-list a.active {
  text-decoration: underline;
}

.footer-list a:hover {
  color: #82d58b;
}

.footer-list {
  display: inline-block;
  padding-top: 5px;
}

ul.footer-list-elements li {
  display: inline-block;
  padding-right: 10px;
  padding-top: 25px;
  text-align: center;
  color: black;
  font-size: 18px;
}

.footer-strapline {
  text-align: right;
  font-size: 20px;
  padding-right: 50px;
  padding-top: 30px;
  float: right;
  display: inline-block;
}

/*footer bar styles end*/

@media screen and (max-width: 755px) {
  .wedding-logo {
    display: none;
  }
}

@media screen and (max-width: 755px) {
  .nav-strapline {
    display: none;
  }
}

@media screen and (max-width: 755px) {
  .nav-wrapper {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 755px) {
  .footer-strapline {
    display: none;
  }
}
