.about-the-day-element {
        background:url("./images/ross-a-rachel.jpeg");
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        height: 100%;
      }

.nav-strapline p {
    color:black;
}

.main-border {
    margin-top: -10px;
    margin-left: 0%;
}
.footer-strapline p {
    color:black;
}

p {
    color: black;
}

h2 {
    color: #f89184;
}

.social-buttons {
    justify-content: flex-end;
    display: flex;
}

.social-buttons img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 755px) {
    .footer-list-elements {
      text-align: center;
      display: block;
    }
   }
