
.about-the-day-element {
        background:url("https://thumbs-prod.si-cdn.com/EB_pmD6ogvJXVlr2orPlET7lXkw=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/54/ef/54ef8b98-4334-47a3-a9ac-a9d84d8ecd73/istock-626837432.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }

.text-for-photo {
    text-color: white;
}

.btn-twitter {
    background: #00acee;
    border-color:#009ad5;
}

.btn-facebook {
    background: #4868ac;
    border-color:#314776;
}

.btn-pinterest {
    background: #b62f26;
    border-color: #b62f26;
}

$("button").on("click" function() {
    alert("Thank you!)};
}