
.about-the-day-element {
        background:url("./images/EM_LANDING.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
      }

body {
    text-color: white;
}

.social-button{
    justify-content: center
    background-position: centre;
}

.btn-twitter {
    background: #00acee;
    border-color:#009ad5;
}

.btn-facebook {
    background: #4868ac;
    border-color:#314776;
}

.btn-pinterest {
    background: #b62f26;
    border-color: #b62f26;
    justify-content: center;
}

$("button").on("click" function() {
    alert("Thank you!)};
}