/*css file for the-day page*/
html {
  display: block;
}

body {
  font-family: 'Abel', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.header-bar {
  background-color: #b0e0e6;
  overflow: hidden;
  width: 100%;
  padding: 10px 10px;
  justify-content: center;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.wedding-logo {
  display: inline-block;
  float: left;
  height: 90px;
  padding-left: 30px;
}

.nav-list a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  top: 50%;
}

.nav-list a.active {
  text-decoration: underline;
}


.nav-list {
  display: flex;
  padding-top: 5px;
}

ul.nav-list-elements li {
  display: inline-block;
  padding-right: 10px;
  text-align: center;
  color: black;
  font-size: 18px;
}
